.ChartAndReport {
  font-family: 'Lato', sans-serif;

  h1.Header {
    text-align: center;
    font-size: 35px;
  }

  .WeatherReport {
    .ReactTable { margin-top: 20px; }
    .rt-tbody { font-size: 13px; }
    .rt-td { text-align: center; }
  }

  .UpdateTimer {
    text-align: center;
    margin-bottom: 50px;
  }

  .InfoBlurb {
    text-align: center;
    margin: 20px;
  }
}